@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*  */
*{
    box-sizing: border-box;
}
.container{
    /* background-color: white; */
    font-family: 'Ubuntu', sans-serif;
}

.home{
    padding: 10px;
    background-image: url('../assets/images/home.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
    height: auto;
    position: sticky;
    top: -2px;
    z-index: 3
}

.overlay{
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: rgb(13, 102, 102);
    background-color: rgba(255, 255, 255, 0.958);
    width: 100vw;
}

.overlay img{
    width: 20%
}

.home h1{
    font-weight: 600;
    text-align: center;
    color: rgb(176, 4, 188);
}

.home p{
    text-align: center;
    font-weight: bolder;
    font-size:20px;
    padding: 5px 15px;
    text-shadow: .2px .3px 4px black;
}

.home h4{
    margin: 0px auto;
    text-align: center;
    width: 80%;
    font-weight: bolder;
    font-size: 1.4rem;
    color: rgb(32,50,75);
}

.header{
    display: flex;
    align-items: center;

    padding: 10px
}

.header > h3{
    position: absolute;
    right: 10px;
    /* margin: 0px auto; */
    /* transform: translateX(-50%); */
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(188, 242, 106);
    color: rgb(36, 36, 36);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

.quater{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}


.light{
    /* text-shadow: .2px .2px 1px black; */
    color: rgb(126, 96, 96);
    font-size: 15px;
    font-weight: bolder;
    margin: 10px 0px
}

.quater h3{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(32, 50, 75);
    font-size: 15px;
    color: white;
    width: 200px;
    /* border: 1px solid */
}




/* Previous Year */
.previous{
     margin: 20px;

}
.previous .prev-container {
  width: 100%;
  /* height: fit-content; */
  /* box-shadow: .5px .4px 3px black; */
  border-bottom: 2px solid;
}

.prev-container{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    border-radius: 5px;
    justify-content: space-between;

}
.previous .year{
    width: fit-content;
    padding: 0px 30px;
    background-color: black;
    color: white;
    border-radius: 5px 0px 0px 5px;

    /* padding: 5px; */

}

.previous-year{
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    /* gap: 10px; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.previous-item{
    padding: 20px 10px;
    margin-top: 20px;
    max-width: 200px;
    min-width: 140px;
    width: 35%;
    height: auto;
    /* border: 1px solid; */
    color: rgb(62, 61, 61);
    border-radius: 5px;
    /* background-color: rgb(126, 188, 207); */

    box-shadow: .5px .3px 2.4px #a6a1a1;
}

.payment-btn {
    font-weight: bolder;
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
    background: orange
}


section.btn{
    font-size: 13px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(35, 95, 147);
    height: 30px;
    color: white;
    margin: 20px auto 0px;
    border-radius: 5px;
    width: max-content;
    padding: 5px 10px; 
    display: flex;
    gap: 10px;
}

section.btn2{
    font-size: 13px;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    padding: 10px;
    color: white;
    margin: 20px auto 0px;
    border-radius: 5px;
    width: max-content;
    padding: 0px 10px;
    display: flex;
    gap: 10px;
    background-color: rgb(23, 48, 48);
}

.previous .year h3{
    font-weight: 900;
    color: rgb(238, 233, 233);
    font-size: 15px
}

.prev-container > div:nth-child(2){
    justify-content: space-around;

}


.section h3{
    flex: 1;
    text-align: center;  
    font-size: 20px
}



/* Download Css  */

.download-image {
    text-align: center;
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-image img{
    width: 60%;

}

.button{
    width: fit-content;
    margin: 20px auto;
    font-weight: 700;
}



/*  */

.manual-content .meaning{
    background-color: black;
    color: rgb(207, 199, 199);
    padding: 15px;
    border-radius: 7px;
    text-align: justify;
    margin-bottom: 30px;
    
}

.meaning h1{
    font-weight: 700;
    text-align: center;
}

.menu h5{
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 700;
}